<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.chy.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password, status
  </sql>

  <select id="diyXml" resultType="string">
    select 'xml'
    union all
    select 'xml1'
    union all
    select 'xml2'
    union all
    select 'xml3'
    union all
    select 'xml4'
    union all
    select 'xml5'
  </select>

</mapper>